/* FILE TEMPLATE */


/* HEADER */
.main_header {
    width: 100%;
    position: absolute;
}

.main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header_content .logo {
    flex-basis: 330px;
    padding: 20px;
    width: 290px;
    color: #fff;
    font-size: 2em;
}

.main_header_content .logo h1 {
    padding-left: 10px;
    border-left: 4px solid #18d26e;
}

.main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
}

.main_header_content_menu ul li a {
    padding: 5px 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

.main_header_content_menu .active {
    color: #18d26e;
}

.main_header_content_menu ul li a:hover {
    background: linear-gradient(135deg, #18d26e 15%, #1a6ca3 100%);
    color: #fff;
    transition: all 0.4s;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* END HEADER */

/* CTA */
.main_cta {
    width: 100%;
    height: 100vh;/* efeito pra deixar imagem mais escura */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/apple-black-coffee-business-coffee-461064.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta_content {
    max-width: 1300px;
    margin: 0 auto;
}

/* A distância do texto pra imagem
*  Fica no centro 
*/
.main_cta_content_spacer {
    padding: 250px 20px;
    text-align: center;
}

.main_cta_content_spacer h1 {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
}

.main_cta_content_spacer p {
    font-size: 1.6em;
    color: #fff;
    font-weight: 400;
    margin: 25px 0;
}

.main_cta_content_spacer .button {
    background: linear-gradient(135deg, #18d26e 15%, #1a6ca3 100%);
    color: #fff;
    padding: 10px 40px;
    font-weight: 300;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_cta_content_spacer .button:hover {
    background: linear-gradient(135deg, #16be64 15%, #155b8a 100%);
    transition: all 0.4s;
}
/* END CTA */

/* BLOG */
.main_blog {
    width: 100%;
    background-color: #f7f7f7;
}

.main_blog_content {
    max-width: calc(1300px - 40px);
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_blog_header {
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog_header h1 {
    font-size: 1.5em;
    color: #333;
}

.main_blog_header p {
    color: #333;
}

.main_blog article {
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
    opacity: 0.8;
    transition: all 0.1s;
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.09);
    transition: 0.3s;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_blog article:hover {
    opacity: 1;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.main_blog article img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.main_blog article p {
    margin: 10px 0;
}

.main_blog article p, .main_blog article h2 {
    padding: 0 10px;
}

.main_blog article h2 {
    padding-bottom: 20px;
}

.main_blog article .category{
    font-size: 0.8em;
    color: #18d26e;
}

.main_blog article .title {
    color: #333;
    font-weight: 300;
    font-size: 1.1em;
}
/* END BLOG */

/* OPTIN */
.main_optin {
    max-width: 100%;
    background: linear-gradient(135deg, #1a6ca3 15%, #18d26e 100%);
    /* margin-top: 40px; */
    transition: all 2s;
}

.main_optin:hover {
    background: linear-gradient(135deg, #18d26e 15%, #1a6ca3 100%);
}

.main_optin_content {
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}

.main_optin_content header, .main_optin_content form {
    flex-basis: 50%;
}

.main_optin_content header {
    color: #fff;
    text-align: right;
    margin-right: 20px;
}

.main_optin_content header h1 {
    font-size: 1.2em;
    font-weight: 400;
}

.main_optin_content header p {
    font-size: 0.8em;
    font-weight: 300;
}

.main_optin_content form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_optin_content form input {
    flex-basis: 30%;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.main_optin_content form .button {
    font-size: .8em;
    font-weight: 700;
    padding: 5px 20px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.main_optin_content form .button:hover {
    display: inline-block;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    background-color: #18d26e;
    border: 2px solid #18d26e;
}
/* END OPTIN */

/* ABOUT */
.main_about {
    width: 100%;
    /* efeito pra deixar imagem mais escura */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/mac-html.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;  /* imagem fica fixa ao dar scroll na tela */
}

.main_about_content {
    max-width: calc(1300px - 40px);
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.main_about_content header h1 {
    font-size: 2em;
    color: #fff;
}

.main_about_content header p {
    color: #fff;
    margin-top: 10px;
}

.main_about_content .main_about_content_img img {
    max-width: 200px;
    margin: 20px 0;
    padding: 3px;
    background: #fff;;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.main_about_content_history h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #fff;
}

.main_about_content_history p {
    padding: 0 40px;  /* espaçamento do texto */
    margin-bottom: 40px;
    color: #fff;
}

.main_about_content_social_network {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(135deg, #16be64 15%, #155b8a 100%);
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_about_content_social_network header h2 {
    margin-top: 20px;
}

.main_about_content_social_network header {
    flex-basis: 100%;
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_about_content_social_network article {
    flex-basis: 33.3%;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
}

.main_about_content_social_network article:hover {
    transform: scale(1.08);
}

.main_about_content_social_network article a {
    background-color: #fff;
    font-size: 0.8em;
    color: #18d26e;
    padding: 5px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* END ABOUT */

/* OPTIN FOOTER */
.main_optin_footer {
    width: 100%;
    background-color: #f7f7f7;
}

.main_optin_footer_content {
    max-width: 1300px;
    padding-top: 40px;
    padding-bottom: 5px; 
    margin: auto;
    text-align: center;
}

.main_optin_footer_content header {
    font-size: 1.4em;
    margin-bottom: 40px;
    color: #333;
}

.main_optin_footer_content .button {
    background: linear-gradient(135deg, #18d26e 15%, #1a6ca3 100%);
    color: #fff;
    padding: 10px 40px;
    font-weight: 300;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_optin_footer_content .button:hover {
    background: linear-gradient(135deg, #16be64 15%, #155b8a 100%);
    transition: all 0.4s;
}
/* END OPTIN FOOTER */

/* FOOTER */
.main_footer {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 20px;
    margin: 0 auto;
}

.main_footer header {
    flex-basis: 100%;   
}

.main_footer header h1 {
    font-size: 1.4em;
    margin-bottom: 40px;
    color: #333;
}

.main_footer_our_pages, .main_footer_about {
    flex-basis: 50%;
    color: #333;
}

.main_footer_our_pages header, .main_footer_about header {
    margin-bottom: 20px;
}

.main_footer_our_pages ul li {
    list-style: none;
    margin: 5px 0;
}

.main_footer_our_pages ul li a {
    color: #333;
}

.main_footer_our_pages ul li a:hover {
    text-decoration: underline;
}
/* END FOOTER */

/* FOOTER COPY */
.main_footer_copyright {
    width: 100%;
    padding: 20px 0;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    text-align: center;
    font-size: 0.8em;
    color: #666;
    font-weight: 300;
}
/* END FOOTER COPY */